# Database Connection
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/hyperstocks?retryWrites=true&w=majority

# Gemini API Key (For AI stock tasks/Inngest functions)
GEMINI_API_KEY=your_gemini_api_key_here

# Finnhub API Key for real-time stock data
NEXT_PUBLIC_FINNHUB_API_KEY=your_finnhub_public_api_key_here
FINNHUB_API_KEY=your_finnhub_secret_api_key_here

# Better Auth Configuration
BETTER_AUTH_SECRET=your_random_auth_secret_here
# The base URL of your application (use http://localhost:3000 for local development)
BETTER_AUTH_URL=http://localhost:3000

# Nodemailer Configuration (For email notifications/alerts)
NODEMAILER_EMAIL=your_sending_email@gmail.com
NODEMAILER_PASSWORD=your_email_app_password
